## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>

<%block name="content">
<article class="storypage page-presspage">
  <div class="title">
    <h1 class="entry-title">{{ messages('Not Found', lang) }}</h1>
  </div>
  <div class="main entry-content">
    {{ messages('Page does not exist', lang) }}
  </div>
  </article>
</%block>
