## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*" />
<%namespace name="notes" file="annotation_helper.tmpl" import="*" />
${set_locale(lang)}
${base.html_headstart()}
<%block name="extra_head">
### Leave this block alone.
</%block>
${template_hooks['extra_head']()}
</head>
<body>
<a href="#content" class="sr-only sr-only-focusable">${messages("Skip to main content")}</a>

<!-- Menubar -->

<nav class="navbar navbar-expand-md static-top mb-4
% if theme_config.get('navbar_light'):
navbar-light
% else:
navbar-dark
% endif
% if theme_config.get('navbar_custom_bg'):
${theme_config['navbar_custom_bg']}
% elif theme_config.get('navbar_light'):
bg-light
% else:
bg-dark
%endif
">
    <div class="container navbar-container"><!-- This keeps the margins nice -->
        <a class="navbar-brand" href="${_link("root", None, lang)}">
        %if logo_url:
            <img src="${logo_url}" alt="${blog_title|h}" id="logo" class="d-inline-block align-top">
        %endif

        % if show_blog_title:
            <span id="blog-title">${blog_title|h}</span>
        % endif
        </a>
  <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="bs-navbar"-->

         <div id="bs-navbar">

        <nav id="menu">
            <div>
                ${base.html_navigation_links_entries(navigation_links)}
                
                ${template_hooks['menu']()}
               
                % if show_sourcelink:
                    <%block name="sourcelink"></%block>
                %endif
                ${template_hooks['menu_alt']()}
            </div>
                        %if search_form:
                ${search_form}
            %endif
            </nav>
        </div><!-- /.navbar-collapse -->
                  <%block name="belowtitle">
                %if len(translations) > 1:
                    ${base.html_translations()}
                %endif
                </%block>
                
                
    </div><!-- /.container -->
</nav>

<!-- End of Menubar -->

<div class="container" id="content" role="main">
    <div class="body-content">
        <!--Body content-->
        ${template_hooks['page_header']()}
        <%block name="extra_header"></%block>
        <%block name="content"></%block>
        <!--End of body content-->
	            <div class="clear"></div>

        <footer id="footer">
        <div class="footer-submenu">
    ${html_navigation_links_footer(navigation_alt_links)}

</div>
<div class="clear"></div>

<div class="footer-socialmedia">
<div class="container">
            ${content_footer}
            
<div class="float-left"><a class="footer-privacy" href="https://amikumu.com/nl/privacy-terms/">${messages ("Privacy & Terms", lang)}</a></div>
<div class="socialmedia">
<ul>
<li><a target="_blank" href="mailto:help@amikumu.com"><i class="fa-solid fa-envelope"></i></a></li>
<li><a target="_blank" href="https://www.reddit.com/r/Amikumu/"><i class="fa-brands fa-reddit"></i></a></li>
<li><a target="_blank" href="https://vk.com/Amikumu"><i class="fa-brands fa-vk"></i></a></li>
<li><a target="_blank" href="https://www.instagram.com/amikumu/"><i class="fa-brands fa-instagram"></i></a></li>
<li><a target="_blank" href="https://twitter.com/Amikumu"><i class="fa-brands fa-twitter"></i></a></li>
<li><a target="_blank" href="https://www.facebook.com/amikumuapp/"><i class="fa-brands fa-facebook"></i></a></li>
</ul>
</div>
</div>

</div>
<div class="clear"></div>

            ${template_hooks['page_footer']()}
            <%block name="extra_footer"></%block>
        </footer>
    </div>
</div>

${base.late_load_js()}
    %if date_fanciness != 0:
        <!-- fancy dates -->
        <script>
        luxon.Settings.defaultLocale = "${luxon_locales[lang]}";
        fancydates(${date_fanciness}, ${luxon_date_format});
        </script>
        <!-- end fancy dates -->
    %endif
    <%block name="extra_js"></%block>
    <script>
    baguetteBox.run('div#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
${body_end}
${template_hooks['body_end']()}
</body>
</html>
