/* @override 
	http://127.0.0.1:8000/assets/css/theme.css */

body {
	font-family: noto sans,noto sans cjk jp,sans-serif;
	color: #fff;
font-family: noto sans,noto sans cjk jp,sans-serif;
font-size: 18px;
line-height: 24px;
}

img {
	max-width: 100%;
}

.titlebox {
	text-align: right;
}

td.label {
	/* Issue #290 */
	background-color: inherit;
}

.footnote-reference {
	/* Issue 290 */
	vertical-align: super;
	font-size: xx-small;
}

.caption {
	/* Issue 292 */
	text-align: center;
	padding-top: 1em;
}

div.figure > img, div.figure > a > img {
	/* Issue 292 */
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote p, blockquote {
	font-size: 1.25rem;
	font-weight: 300;
	line-height: 1.25;
}

ul.bricks > li {
	display: inline;
	background-color: lightblue;
	padding: 8px;
	border-radius: 5px;
	line-height: 3;
	white-space: nowrap;
	margin: 3px;
}

pre, pre code {
	white-space: pre;
	word-wrap: normal;
	overflow: auto;
}

article.post-micro {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 1.5em;
}

.image-block {
	display: inline-block;
}

.tags {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
	text-align: center;
}

.tags > li {
	display: inline-block;
}

.tags > li a {
	display: inline-block;
	padding: .25em .4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25rem;
	background-color: #868e96;
}

.tags > li a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #6c757d;
}

.metadata p:before, .postlist .listdate:after {
	content: " — ";
}

.metadata p:first-of-type:before {
	content: "";
}

.metadata p {
	display: inline;
}

.posttranslations h3 {
	display: inline;
	font-size: 1em;
	font-weight: bold;
}

.posttranslations h3:last-child {
	display: none;
}

.entry-content {
	margin-top: 1em;
}

/* for alignment with Bootstrap's .entry-content styling */

.entry-summary {
	margin-top: 1em;
}

/* Custom page footer */

#footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

/* hat tip bootstrap/html5 boilerplate */

@media print {
	*, *:before, *:after {
		font-family: Garamond, Junicode, serif;
	}
	
	body {
		font-size: 12pt;
	}
	
	article .entry-title a[href]:after, article .metadata a[href]:after, article .tags a[href]:after {
		content: "";
	}
	
	article .metadata .sourceline {
		display: none;
	}
	
	article .metadata .linkline a[href]:after {
		content: " (" attr(href) ")";
	}
	
	.navbar {
		display: none;
	}
}

pre, .codetable {
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	margin-bottom: 1rem;
}

pre {
	padding: 0.75rem;
}

.codetable tr:first-child td.linenos {
	border-top-left-radius: 0.25rem;
}

.codetable tr:last-child td.linenos {
	border-bottom-left-radius: 0.25rem;
}

.postindexpager {
	padding-bottom: 1rem;
}

ul.navbar-nav {
	margin-top: 0;
}

ul.pager {
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: .25rem;
	padding-left: 0;
	margin: 0.5rem 0;
}

ul.pager li.previous {
	margin-right: auto;
	display: inline;
}

ul.pager li.next {
	margin-left: auto;
	display: inline;
}

ul.pager li a {
	display: inline;
	position: relative;
	padding: .5rem .75rem;
	margin-left: -1px;
	line-height: 1.25;
	border: 1px solid #ddd;
	border-radius: .25rem;
}

pre.code {
	white-space: pre-wrap;
}

.byline a:not(:last-child):after {
	content: ",";
}

/* Override incorrect Bootstrap 4 default */

html[dir="rtl"] body {
	text-align: right;
}

/* Set a minimum logo height to ensure .svg are displayed if there is no brand text (#3493) */

#logo {
	min-height: 25px;
}

button#dropdownMenuButton.btn.btn-primary.dropdown-toggle.langref {
	text-transform: uppercase !important;
	font-weight: bold;
}

div#content.container {
	clear: both;
}

a.nav-link {
	color: #3294f3 !important;
}
div#carouselApp {
	clear: both;
	margin-left: 300px;
	margin-right: 300px;
}

div#carouselApp.carousel.carousel-dark.slide div.carousel-inner
{
	clear: both;
	padding: 25px;
	margin-left: 30px;
	margin-right: 30px;
}


div.tutorial {
	clear: both;
}

div.homepage-title.docutils.container {
	background-image: url(/images/banner_main.png);
	background-size: cover;
	width: 100%;
	height: auto;
	float: left;
	background-size: cover;
	padding-top: 150px;
	background-color: rgba(50,146,241,.6);
	padding-bottom: 80px;
	background-repeat: no-repeat;
	background-position: center;
	padding-right: 20px;
	padding-left: 20px;
}

.tutorial .blue-bar {
clear: both;
background-color: #3292f1;
position: absolute;
}
.tutorial .blue-bar, .swiper-slide .title {
width: 100%;
height: 160px;
}

.container {
	max-width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
}

div.tutorial.container {
	max-width: 100%;
    width: 100%;
    margin: 0 auto;
    border: none;
    height: auto;
    position:relative
}

article.post-homepage.storypage div.homepage-title p:first-of-type,
article.post-homepage.storypage section h2 {
	color: #fff;
	text-align: center;
	text-shadow: 0 0 10px rgb(0 0 0 / 40%);
	line-height: 1.4em;
	font-weight: 700;
}

article.post-homepage.storypage p.play-store-buttons {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

article.post-homepage.storypage p.play-store-buttons a.reference.external.image-reference img {
	padding: 5px;
	height: 70px;
	margin-left: 20px;
	margin-right: 20px;
}

img#logo.d-inline-block.align-top {
	height: 70%;
	width: 70%;
}

.shadow-text {
	text-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.center-text {
	text-align: center;
}

div#content.container div.body-content article.post-homepage.storypage div.e-content.entry-content div.homepage-title.docutils.container {
	color: #ffffff;
}

.navbar {
	margin-bottom: -20px !important;
	padding: 15px;
}

div#bs-navbar {
	margin-right: -10px;
	float: right;
	margin-left: -20px;
	width: 100%;
	text-align: right;
	align-content: right;
}

.nav-item {
	float: left !important;
}

#menu {
	float: right !important;
	text-align: right !;
	align-content: right !important;
	margin-right: 50px;
}
button#dropdownMenuButton.btn.btn-primary.dropdown-toggle.langref {
	float: right !important;
	text-align: right;
	align-content: right !important;
	margin-right: 50px;

}


.navbar-container {
	width: 100%;
}

nav#menu div div.dropdown {
	width: 150px;
	float: right;
	right: 20px;
}
div.container.navbar-container div.dropdown.dropdown-nav div.dropdown-menu.show,
div.container.navbar-container div.dropdown.dropdown-nav div.dropdown-menu.show,
nav#menu div div.dropdown.show div.dropdown-menu.show {
	float: right;
	margin-right: 100px;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	min-width: 10rem;
	padding: .5rem 0;
	margin: .125rem 0 0;
	font-size: 1rem;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: .25rem;
	width: 400px;
	left: -270px;
}

div.container.navbar-container div.dropdown.dropdown-nav div.dropdown-menu.show a.dropdown-item,
nav#menu div div.dropdown.show div.dropdown-menu.show .dropdown-item {
	float: left;
	clear: none;
	padding: .5em;
	width: 30%;
}

@media (min-width:276px) {
	div.container.navbar-container div.dropdown.dropdown-nav div.dropdown-menu.show a.dropdown-item,
	nav#menu div div.dropdown.show div.dropdown-menu.show .dropdown-item {
		width: 50%;
	}
	
	div.container.navbar-container div.dropdown.dropdown-nav div.dropdown-menu.show,
	nav#menu div div.dropdown.show div.dropdown-menu.show {
		width: 300px;
		left: 10px;
				float: left !important;

	}
	
	div#bs-navbar {
		float: right;
	}
	
div#content.container div.body-content article.post-homepage.storypage div.e-content.entry-content div.homepage-title.docutils.container {
		background-image: url(/images/banner_main-672x372.png);
		background-size: cover;
		padding-bottom: 0px;
		padding-top: 0px;
	}
	
	article.post-homepage.storypage div.homepage-title p:first-of-type{
		font-size: 32px;
	}
}



@media (min-width:376px) {
	div.container.navbar-container div.dropdown.dropdown-nav div.dropdown-menu.show a.dropdown-item,
	nav#menu div div.dropdown.show div.dropdown-menu.show .dropdown-item {
		width: 50%;
	}
	
	div.container.navbar-container div.dropdown.dropdown-nav div.dropdown-menu.show,
	nav#menu div div.dropdown.show div.dropdown-menu.show {
		width: 300px;
		left: 0px;
		float: left !important;
	}
	
	div#content.container div.body-content article.post-homepage.storypage div.e-content.entry-content div.homepage-title.docutils.container {
		background-image: url(/images/banner_main.png);
		padding-bottom: 80px;
		padding-top: 150px;
	}
	
article.post-homepage.storypage div.homepage-title p:first-of-type{
		font-size: 32px;
	}
}


@media (min-width:576px) {
	div.container.navbar-container div.dropdown.dropdown-nav div.dropdown-menu.show  a.dropdown-item,
	nav#menu div div.dropdown.show div.dropdown-menu.show .dropdown-item {
		width: 30%;
	}
	
	div.container.navbar-container div.dropdown.dropdown-nav div.dropdown-menu.show,
	nav#menu div div.dropdown.show div.dropdown-menu.show {
		width: 500px;
		left: 0px;
				float: left !important;

	}
	
	div#content.container div.body-content article.post-homepage.storypage div.e-content.entry-content div.homepage-title.docutils.container {
		background-image: url(/images/banner_main.png);
		padding-bottom: 80px;
		padding-top: 150px;
	}
	
article.post-homepage.storypage div.homepage-title p:first-of-type{
		font-size: 40px;
	}
}
	
@media (min-width:768px) {
	div.container.navbar-container div.dropdown.dropdown-nav div.dropdown-menu.show a.dropdown-item,
	nav#menu div div.dropdown.show div.dropdown-menu.show .dropdown-item {
		width: 30%;
	}
	div.container.navbar-container div.dropdown.dropdown-nav div.dropdown-menu.show,
	nav#menu div div.dropdown.show div.dropdown-menu.show {
		width: 500px;
left: -430px;
float: right !important;

	}
	
	div#content.container div.body-content article.post-homepage.storypage div.e-content.entry-content div.homepage-title.docutils.container {
		background-image: url(/images/banner_main.png);
		padding-bottom: 80px;
		padding-top: 150px;
	}
	
article.post-homepage.storypage div.homepage-title p:first-of-type{
		font-size: 40px;
	}
}
	
@media (min-width:992px) {
	div.container.navbar-container div.dropdown.dropdown-nav div.dropdown-menu.show a.dropdown-item,
	nav#menu div div.dropdown.show div.dropdown-menu.show .dropdown-item {
		width: 30%;
	}
	div.container.navbar-container div.dropdown.dropdown-nav div.dropdown-menu.show,
	nav#menu div div.dropdown.show div.dropdown-menu.show {
		width: 500px;
left: -430px;
float: right !important;
	}
	
	div#content.container div.body-content article.post-homepage.storypage div.e-content.entry-content div.homepage-title.docutils.container {
		background-image: url(/images/banner_main.png);
		padding-bottom: 80px;
		padding-top: 150px;
		padding-right: 100px;
		padding-left: 100px;
		font-size: larger;
	}
	
article.post-homepage.storypage div.homepage-title p:first-of-type{
		font-size: 60px;
	}
}
	
@media (min-width:1200px) {
div.container.navbar-container div.dropdown.dropdown-nav div.dropdown-menu.show a.dropdown-item,
nav#menu div div.dropdown.show div.dropdown-menu.show .dropdown-item {
		width: 30%;
	}
div.container.navbar-container div.dropdown.dropdown-nav div.dropdown-menu.show,	
	nav#menu div div.dropdown.show div.dropdown-menu.show {
		width: 500px;
left: -430px;
float: right !important;
}
	
	div#content.container div.body-content article.post-homepage.storypage div.e-content.entry-content div.homepage-title.docutils.container {
		background-image: url(/images/banner_main.png);
		background-size: cover;
		padding-bottom: 80px;
		padding-top: 150px;
		padding-right: 300px;
		padding-left: 300px;
		font-size: larger;
	}
	
article.post-homepage.storypage div.homepage-title p:first-of-type{
		font-size: 70px;
	}
}


div#carouselApp.carousel.carousel-dark.slide div.carousel-indicators button {
width: 20px;
height: 5px;
margin-left: 2px;
margin-right: 2px;
border:1px solid #0062cc;

}

.visually-hidden {
	
color: transparent;
}

div#carouselApp.carousel.carousel-dark.slide div.carousel-indicators button.active {
	width: 20px;
height: 5px;
background: #0062cc !important;
border:1px solid #0062cc;
}

div#carouselApp.carousel.carousel-dark.slide button.carousel-control-prev span.carousel-control-prev-icon,
div#carouselApp.carousel.carousel-dark.slide button.carousel-control-prev span.carousel-control-next-icon {
	color: #0062cc !important;
;
	
}
div#carouselApp.carousel.carousel-dark.slide button.carousel-control-prev,
div#carouselApp.carousel.carousel-dark.slide button.carousel-control-next {
	background: transparent !important;
	border: 0px;
		color: #0062cc !important;
}

.carousel-control-prev-icon{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%230062cc' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e")}

.carousel-control-next-icon{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%230062cc' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e")}


.swiper-slide {
font-weight: 700;
font-size: 16px;
color: #174580;
text-align: left;
margin-left: 0px;
}
.swiper-container {
    height:100%;
	width: 908px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    align-items: center;
    padding-top: 20px;
    min-height: 420px;
    margin-bottom:20px
}



.screen .bigscreen {
    height: 400px;
    width: 208px;
    background-size:100%
}

@media only screen and (max-width: 979px) {
    .screen .bigscreen {
        height: 340px;
        width:176px
    }
}

@media only screen and (max-width: 768px) {
    .screen .bigscreen {
        height: 260px;
        width:134px
    }
}

@media only screen and (max-width: 499px) {
    .screen .bigscreen {
        height: 232px;
        width:120px
    }
}

.screen .smallscreen {
    height: 340px;
    width: 176px;
    background-size:100%
}

@media only screen and (max-width: 979px) {
    .screen .smallscreen {
        height: 300px;
        width:155px
    }
}

@media only screen and (max-width: 768px) {
    .screen .smallscreen {
        height: 230px;
        width:119px
    }
}

@media only screen and (max-width: 499px) {
    .screen .smallscreen {
        display:none
    }
}


@media only screen and (max-width: 979px) {
    .swiper-slide {
        min-height:350px !important
    }
}

@media only screen and (max-width: 768px) {
    .swiper-slide {
        min-height:275px !important
    }
}

@media only screen and (max-width: 499px) {
    .swiper-slide {
        min-height:300px !important
    }
}

.swiper-slide-1 .bigscreen {
    left:60px
}

@media only screen and (max-width: 768px) {
    .swiper-slide-1 .bigscreen {
        left:40px
    }
}

.swiper-slide-1 .smallscreen {
    left:215px
}

@media only screen and (max-width: 979px) {
    .swiper-slide-1 .smallscreen {
        left:190px
    }
}

@media only screen and (max-width: 768px) {
    .swiper-slide-1 .smallscreen {
        left:145px
    }
}

.swiper-slide-2 .bigscreen {
    left:180px
}

@media only screen and (max-width: 979px) {
    .swiper-slide-2 .bigscreen {
        left:165px
    }
}

@media only screen and (max-width: 768px) {
    .swiper-slide-2 .bigscreen {
        left:125px
    }
}

@media only screen and (max-width: 499px) {
    .swiper-slide-2 .bigscreen {
        left:40px
    }
}

.swiper-slide-2 .smallscreen {
    left:60px
}

@media only screen and (max-width: 768px) {
    .swiper-slide-2 .smallscreen {
        left:40px
    }
}

.swiper-slide-3 .bigscreen {
    left:60px
}

@media only screen and (max-width: 768px) {
    .swiper-slide-3 .bigscreen {
        left:40px
    }
}

.swiper-slide-3 .title, .swiper-slide-3 .text {
    left:345px
}

@media only screen and (max-width: 979px) {
    .swiper-slide-3 .title, .swiper-slide-3 .text {
        left:300px
    }
}

@media only screen and (max-width: 768px) {
    .swiper-slide-3 .title, .swiper-slide-3 .text {
        left:225px
    }
}

@media only screen and (max-width: 420px) {
    .swiper-slide-3 .title, .swiper-slide-3 .text {
        left:40px
    }
}

.swiper-container .bigscreen {
    position: absolute;
    bottom:0
}

@media only screen and (max-width: 420px) {
    .swiper-container .bigscreen {
        opacity: .4;
        bottom: -50px;
        right: 10px;
        left:inherit !important
    }
}

.swiper-container .smallscreen {
    position: absolute;
    bottom:0
}

.swiper-slide .title {
    left: 425px;
    position: absolute;
    top: 0;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    max-width: 475px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    line-height:34px;
	color: #fff;
}

@media only screen and (max-width: 979px) {
    .swiper-slide .title {
        max-width: 320px;
        font-size: 22px;
        left: 380px;
        line-height:32px
    }
}

@media only screen and (max-width: 768px) {
    .swiper-slide .title {
        max-width: 320px;
        left:280px
    }
}

@media only screen and (max-width: 630px) {
    .swiper-slide .title {
        max-width: 200px;
        font-size: 18px;
        line-height:28px
    }
}

@media only screen and (max-width: 520px) {
    .swiper-slide .title {
        max-width:170px
    }
}

@media only screen and (max-width: 499px) {
    .swiper-slide .title {
        left: 180px;
        max-width: 192px;
        font-size: 14px;
        line-height:24px
    }
}

@media only screen and (max-width: 420px) {
    .swiper-slide .title {
        left:40px
    }
}

.swiper-slide .text {
left: 425px;
position: absolute;
top: 200px;
font-weight: 700;
font-size: 16px;
color: #174580;
text-align: left;
max-width: 400px;
}

@media only screen and (max-width: 979px) {
    .swiper-slide .text {
        max-width: 320px;
        font-size: 14px;
        left:380px
    }
}

@media only screen and (max-width: 768px) {
    .swiper-slide .text {
        left: 280px;
        top:140px
    }
}

@media only screen and (max-width: 630px) {
    .swiper-slide .text {
        max-width: 250px;
        font-size:14px
    }
}

@media only screen and (max-width: 499px) {
    .swiper-slide .text {
        left: 180px;
        max-width:222px
    }
}

@media only screen and (max-width: 420px) {
    .swiper-slide .text {
        left: 40px;
        top:125px
    }
}

.swiper-slide .text p {
    margin-bottom:10px
}

.tutorial .blue-bar, .swiper-slide .title {
    width: 100%;
    height:160px
}
